* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/* font vazir */
@font-face {
    font-family: "vazir";
    src: url(fonts/Vazir-Medium-FD-WOL.ttf);
}

@font-face {
    font-family: 'lalezar';
    src: url(fonts/Lalezar-Regular.ttf);
}

/* body codes */
body {
    font-family: "vazir", serif;
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100%;
    animation: header-opnner 2s ease 0s 1 normal forwards;
}

.container {
    max-width: 1000px;
    min-width: auto;
    margin: 0 auto;
}

.header-detail-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-section {
    background-color: #4F67FF;
    height: 85%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    width: 100vw;
}

.right-header-detail-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}

.right-header-detail-div>div>i,
span {
    color: white;
}

.telephone-detail-box,
.email-detail-box,
.working-hour-detail-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.email-detail-text {
    font-family: "lalezar";
    letter-spacing: 2px;
}

.left-header-detail-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-media-link>i {
    color: white;
    padding: 5px;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
}

.social-media-link>i:hover {
    background-color: #00CDC4;
    transform: translateY(-10px);
}

.header-nav {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius: 20px;
    padding-left: 8rem;
    margin-bottom: 5rem;
}

.header-nav-logo-title {
    display: flex;
    align-items: center;
}

.school-logo-box {
    transform: scale(0.5);
    background-color: black;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.header-nav-list-item {
    position: relative;
}

.header-nav-list-item::before {
    content: '';
    display: block;
    border-bottom: solid 2px #4F67FF;
    position: absolute;
    bottom: -5px;
    width: 100%;
    transform: scale(0);
    transition: all 500ms ease-in-out;
}

.header-nav-list-item:hover:before {

    transform: scale(1);
}

.start-link {
    background-color: #00CDC4;
    padding: 10px 12px;
    border-radius: 8px;
    transition: all 250ms ease-in;
}

.start-link:hover {
    border: solid 2px #00CDC4;
    background-color: transparent;
    color: #00CDC4;
}

.start-link {
    color: white;
}

.header-welcome-div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2rem;
    justify-content: center;
}

.left-header-welcome-div {
    width: 650px;
}

.header-welcome-image {
    width: 100%;
}

.header-welcome-text {
    font-family: 'lalezar';
    font-size: 40px;
    color: white;
    margin-bottom: 2rem;
    width: 80%;
}

.signup-link {
    background-color: #00CDC4;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    transition: all ease 500ms;
}

.signup-link:hover {
    background-color: rgb(6, 186, 54);
}

.line {
    width: 20px;
    background-color: black;
    height: 3px;
    margin-bottom: 3px;
    display: block;
}

.nav-mobile {
    display: none;
}

/* header respnosive */
@media screen and (max-width:831px) {

    .telephone-detail-box,
    .email-detail-box,
    .working-hour-detail-box {
        font-size: 14px;
    }

    .header-nav {
        padding-left: 4rem;
    }
}

@media screen and (max-width:755px) {

    .telephone-detail-box,
    .email-detail-box,
    .working-hour-detail-box {
        font-size: 12px;
    }

    .header-nav {
        padding: 1rem;
    }
}

@media screen and (max-width:716px) {

    .header-welcome-text {
        font-size: 32px;
    }

    .header-nav>* {
        font-size: 14px;
    }
}

@media screen and (max-width:686px) {

    .telephone-detail-box,
    .email-detail-box,
    .working-hour-detail-box {
        gap: 10px;
    }
}

@media screen and (max-width:669px) {
    .header-nav-list {
        display: none;
    }

    #toggle_nav:checked+.header-nav-list-mobile {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        text-align: center;
        transition: all 500ms ease;
        transform: translateX(0);

    }

    .header-nav-list-mobile {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        text-align: center;
        transform: translateX(510px);
        transition: all 500ms ease;
    }

    .nav-mobile {
        display: block;
    }

    .left-header-detail-div {
        display: none;
    }

    .header-welcome-text {
        font-size: 22px;
    }

    .school-logo-box {
        transform: scale(0.3);
    }

    .school-title {
        font-size: 16px;
        margin-right: -2rem;
    }

    .header-nav {
        padding-left: 1rem;
    }

    .header-nav-logo-title {
        margin-right: -2rem;
    }

    .header-welcome-image {
        width: 200px;
    }

    .header-welcome-div {
        flex-direction: column;
    }

    .left-header-welcome-div {
        width: auto;
    }

    .right-header-welcome-div {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-height:667px) {
    .header-nav {
        margin-bottom: 2rem;
    }
}

@media screen and (max-height:545px) {
    .header-nav {
        margin-bottom: 0rem;
    }

    .header-welcome-image {
        width: 300px;
    }

    .right-header-welcome-div {
        transform: scale(0.8);
    }
}

@media screen and (max-width:518px) {

    .telephone-detail-box,
    .working-hour-detail-box {
        font-size: 12px;
        gap: 10px;
    }

    .email-detail-box {
        display: block;
    }

    .left-header-welcome-div>img {
        width: 250px;
    }

    .header-nav {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:509px) {

    .telephone-detail-box,
    .working-hour-detail-box {
        font-size: 11px;
        gap: 10px;
    }

}

@media screen and (max-width:487px) {

    .telephone-detail-box,
    .email-detail-box,
    .working-hour-detail-box {
        /* gap: 10px; */
        font-size: 11px;
    }

}

@media screen and (max-width:485px) {

    .telephone-detail-box,
    .email-detail-box,
    .working-hour-detail-box {
        gap: 10px;
        font-size: 11px;
    }

}

@media screen and (max-width:479px) {

    .telephone-detail-box,
    .email-detail-box,
    .working-hour-detail-box {
        gap: 10px;
        font-size: 10px;
    }

}

@media screen and (max-width:449px) {

    .email-detail-box {
        display: none;
    }

    .telephone-detail-box,
    .working-hour-detail-box {
        gap: 10px;
        font-size: 12px;
    }

}

@media screen and (max-width:425px) {

    .telephone-detail-box,
    .working-hour-detail-box {
        font-size: 10px;
        gap: 10px;
    }

    .email-detail-box {
        display: none;
    }

    .left-header-welcome-div>img {
        width: 200px;
    }
}

@media screen and (max-width:375px) {

    .telephone-detail-box,
    .working-hour-detail-box {
        font-size: 12px;
        gap: 10px;
    }

    .email-detail-box {
        display: none;
    }

    .left-header-welcome-div>img {
        width: 150px;
    }
}

@media screen and (max-width:375px) {

    .telephone-detail-box,
    .working-hour-detail-box {
        font-size: 11px;
        gap: 10px;
    }

    .email-detail-box {
        display: none;
    }
}

@media screen and (max-width:340px) {

    .telephone-detail-box,
    .working-hour-detail-box {
        font-size: 10px;
        gap: 10px;
    }

    .email-detail-box {
        display: none;
    }

    .start-box {
        transform: scale(0.8);
    }
}

@media screen and (max-width:321px) {

    .school-logo-box {
        display: none;
    }

    .school-title {
        margin-right: 2rem;
        font-size: 15px;
    }
}

@media screen and (max-width:320px) {

    .school-logo-box {
        display: none;
    }

    .school-title {
        margin-right: 2rem;
    }

    .telephone-detail-box,
    .working-hour-detail-box {
        font-size: 10px;
        gap: 10px;
    }

    .left-header-welcome-div>img {
        width: 150px;
    }
}

@media screen and (max-width:317px) {

    .telephone-detail-box,
    .working-hour-detail-box {
        font-size: 9px;
    }
}


/* Field-of-Study-div codes */
.field-h2-box{
    display: flex;
    justify-content: center;
}
.field-h2 {
    font-size: 32px;
    position: relative;
    transition: all ease-in-out 500ms;
}
.field-h2:hover {
    letter-spacing: 10px;
}

.field-h2::before {
    content: '';
    display: block;
    width: 100%;
    border-top: solid black 2px;
    position: absolute;
}
.field-h2::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: solid black 2px;
    position: absolute;
}

.Field-of-Study-section>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80%;
    gap: 2rem;
    height: 70vh;
}

.Field-of-Study-section>.container>div {
    transition: all ease-in-out 500ms;
}

.Field-of-Study-section>.container>div:hover {
    transform: translateY(-40px);
}

.computer,
.Building,
.mechanics,
.Accounting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    position: relative;
    gap: 2rem;
    border-radius: 2rem;
    text-align: center;
}

.computer {
    background-color: #19C0EF;
}

.Building {
    background-color: #DFB28B;
}

.mechanics {
    background-color: #DD636E;
}

.Accounting {
    background-color: #3F5295;
}

.Field-of-Study-logo-box {
    width: 90px;
    position: absolute;
    top: -50px;
    background-color: #fff;
    padding: 7px 10px;
    border-radius: 100%;
    box-shadow: 0 0 16px black;
}

.Field-of-Study-logo {
    width: 100%;
}

.Field-of-Study-title {
    color: white;
}

.Field-of-Study-text-box {
    color: white;
}

.more-information-link {
    color: white;
    border: solid white 2px;
    padding: 10px 12px;
    border-radius: 12px;
}
.more-information-link:hover {
    background-color: white;
    color: black;
}

/* animation */
@keyframes header-opnner {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}